<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125215314581-vpsim99uorohlg78s51t4n0ejd4e1ran.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125215314581-vpsim99uorohlg78s51t4n0ejd4e1ran</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Y1SgQsv-mcEBJZb6DwHxRU68mWzNkUU</string>
	<key>GCM_SENDER_ID</key>
	<string>125215314581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>camsp.cerradura</string>
	<key>PROJECT_ID</key>
	<string>cerradura-electronica</string>
	<key>STORAGE_BUCKET</key>
	<string>cerradura-electronica.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125215314581:ios:7c8f374f28c7d9717e819c</string>
	<key>DATABASE_URL</key>
	<string>https://cerradura-electronica-default-rtdb.firebaseio.com</string>
</dict>
</plist>